@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    background: rgb(238,69,64);
    background: linear-gradient(131deg, rgba(238,69,64,1) 0%, rgba(199,44,65,1) 20%, rgba(45,20,44,1) 100%);
    background-attachment: fixed;
    padding: 10px;
}
.box-style{
    padding: 20px;
    background: #2d142d;
    color: #ee4540;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.7);
}

.date {
  text-align:center;
  margin-top: 20px;
  text-shadow:5px 5px 20px rgba(0,0,0,0.7);
  margin-bottom: 50px;
}

.task-div{
    background: #510a32;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    font-weight: 500;
    margin-top: 20px;
    font-size: 20px;
    position: relative;
    transition: 0.5s;

}

.task-div label{
    width: 80%;
    white-space: nowrap;
    overflow-x: scroll;
    position:absolute;
    padding:0;
    margin-left:5px;
}

.task-div label::-webkit-scrollbar {
    height: 4px;
}

.task-div label::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 2px;
}

.task-div label::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ee4540;
    height: 5px;
}

.task-div:hover{
        box-shadow:5px 5px 20px rgba(0,0,0,0.7);

}

.task-div a{
    background: none;
    font-size: 21px;
    color: #ee4540 !important;

}


.check-input, .form-check-label{
    cursor: pointer;
}

.check-input:checked ~ .form-check-label{
    text-decoration:line-through;
    font-style: italic;
}



h1, .main h3{
    font-weight: 800;
    text-shadow:5px 5px 20px rgba(0,0,0,0.7);
}

.add-items{
    margin-top: 3em;
}

.todo-list-input{
    background: transparent;
    border: 0;
    border-radius: 0;
    border-bottom: 3px #ee4540 solid;
    margin-right: 30px;
    transition: 0.3s;
    color: white;

}

.todo-list-input:focus {
    background-color: transparent;
    border-bottom: 0 #ee4540 solid;
    border-radius: 10px;
    color: white;
    box-shadow:none;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.7);
}

::placeholder {
  color: rgb(169,169,169) !important;
  opacity: 1;
}

.todo-list-add-btn{
    font-size: 19px;
    background: #ee4540;
    border: 0;
    border-radius: 50%;
    transition: 0.3s;
}

.btn:focus, .btn:active, .btn:hover{
    box-shadow: none!important;
    outline: 0;
}

.todo-list-add-btn:hover, .todo-list-add-btn:focus{
    box-shadow: 5px 5px 20px rgba(0,0,0) !important;
    background: #ee4540 !important;
}

.empty-svg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

